.sticky-top {
  .head {
    font-size: 30px;
    font-weight: bolder;
  }
  .nav-item {
    text-align: center;
    font-size: 15px;
    .logout {
      margin-left: 20px;
      padding-top: 5px;
      cursor: pointer;
    }
  }
}
