.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90vh;

  .profile {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      text-align: center;
      border-radius: 10px;
      border: none;
      font-weight: bold;
      &:focus {
        outline: none;
        box-shadow: 0 0 3pt 1pt red;
      }
    }
    .image {
      margin-bottom: 20px;

      #image {
        text-align: center;
        .new-image {
          display: block;
        }
        span {
          margin-top: 10px;
          color: $attach-color;
          cursor: pointer;
        }
      }
    }

    .image-add-label {
      margin-top: 15px;
      color: $attach-color;
      cursor: pointer;
    }

    .file-input {
      opacity: 0;
    }

    .update-button {
      color: #f0f0f0;
      font-weight: bold;
      background-color: $btn-color;
      text-align: center;
      padding-bottom: 3px;
    }
  }
}
