@import './variables';
@import './auth';
@import './footer';
@import './navigation';
@import './profile';
@import './createMessage';
@import './messages';
@import './updateMessage';

#container {
  background-color: #edeff0;

  #main-body {
    min-height: 100vh;
  }
}

input {
  &::placeholder {
    opacity: 0.2;
  }
}
